*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}


ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    
}

.topbar{
    
    margin-top: 30px;
    max-width: 1200px;
    height: auto;
    

}

.logo li {
    display: inline-block;
    margin-left:30px;
    vertical-align: middle;
}

.destra li{
  display: inline-block;
  margin-left:20px;
  vertical-align: middle;
  
}


.mainpage{
    margin-top: 10px;
    width: 1200px;
    height: 500px;
    background-color: rgb(33, 178, 223);
    position: relative;
}



#titolo {
    
    font-size: 50px;
    padding-top: 50px;
    padding-left: 100px;
}

.testo-sotto-titolo{
    padding-left: 150px;
    margin-top: 50px;
    width: 400px;
    height:auto;
    text-align: left;
}

.testo-sotto-titolo button, .testo-partner button {
    width: 160px;
    height: 30px;
    border-radius: 1px;
    background-color: blue;
    color: white;
}

.img-destra img{

    max-width: 600px;
    max-height: 600px;
    
    
}

.img-destra{
    position: absolute;
    top: 220px;
    right: 35px;
}

.piano-dropbox{
   height: auto;
    width:1200px;
   
   
}

.trova-piano h2{
    margin-top: 100px;
    text-align: center;
}


.trova-piano input{
   margin-left:30px;
}



.professional, .standard, .advanced{
    width: calc(100% /3 - 160px);
    margin-left: 120px;
    border: 1px solid black;
}

.enterprise{ 

    border: 1px solid black; 
     width: 80%; 
     margin-top:30px;
     margin-left: 120px;
     display: inline-block;
     
} 

.enterprise button, .professional button, .standard button, .advanced button {
    width: 160px;
    height: 30px;
    border-radius: 1px;
    background-color: blue;
    color: white;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.partner{
    margin-top:40px;
    padding-left: 120px;
    padding-right:120px;
    width:1200px;
    height: auto;
    
    
}

.partner img{
    width: 450px;
    height:380px;
}

.testo-partner{
    margin-top: 100px;
    width: 400px;
    text-align: left;
}


.business-images{
    margin-top:50px;
    padding-left:120px; 
    
    width:1200px;
    height: auto;
}

.business-images img{
    /* margin-left: 100px; */
    width: 180px;
    height: 150px;
}

.b-img-1, .b-img-2, .b-img-3, .b-img-4, .b-img-5, .b-img-6{
    margin-left: 60px;
    padding-bottom: 400px;
    width: 250px;
    height: 260px;
    margin-top: 30px;
  
  
   
}



